@font-face {
font-family: 'Proxima Nova Alt Light';
font-style: normal;
font-weight: normal;
src: local('Proxima Nova Alt Light'), url('Mark Simonson - Proxima Nova Alt Light.woff') format('woff');
}

body {
  font-family: 'Proxima Nova Alt Light', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Proxima Nova Alt Light', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proxima Nova Alt Light', sans-serif;
  font-weight: 700;
}

.navbar {
  min-height: 100px;
}

header.masthead {
  position: relative;
  background:
    linear-gradient(
      rgba(0, 98, 137, 0.3),
      rgba(0, 98, 137, 0.3)
    ),
    url('../img/swiss_mountains.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.vqf {
  -webkit-filter: brightness(180%); /* Safari 6.0 - 9.0 */
  filter: brightness(180%);
}

#portfolio {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo {
  max-height: 12rem;
}

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-showcase-1 {
  background:
    linear-gradient(
      rgba(211, 139, 24, 0.1),
      rgba(211, 139, 24, 0.1)
    ),
    url('../img/roads.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-showcase-2 {
  background:
    linear-gradient(
     rgba(211, 139, 24, 0.3),
     rgba(211, 139, 24, 0.3)
    ),
    url('../img/estate.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-showcase-3 {
  background:
    linear-gradient(
      rgba(211, 139, 24, 0.3),
      rgba(211, 139, 24, 0.3)
    ),
    url('../img/advice.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-showcase-4 {
  background:
    linear-gradient(
     rgba(211, 139, 24, 0.3),
     rgba(211, 139, 24, 0.3)
    ),
    url('../img/corridor.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
}

.particles-js-canvas-el {
  top:0;
  left:0;
  position: absolute;
  z-index: 999;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.text-danger {
background-color:#d38b18;
color:#d38b18;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
