body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: 'Lora', serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar {
  height: 100px;
}

header.masthead {
  position: relative;
  background:
    linear-gradient(
      rgba(60, 10, 10, 0.5),
      rgba(60, 10, 10, 0.5)
    ),
    url('../img/swiss_mountains.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#portfolio {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo {
  max-height: 5rem;
}

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bg-showcase-1 {
  background:
    linear-gradient(
      rgba(10, 0, 10, 0.8),
      rgba(10, 0, 10, 0.8)
    ),
    url('../img/roads.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-showcase-2 {
  background:
    linear-gradient(
      rgba(10, 0, 10, 0.8),
      rgba(10, 0, 10, 0.8)
    ),
    url('../img/advice.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-showcase-3 {
  background:
    linear-gradient(
      rgba(10, 0, 10, 0.8),
      rgba(10, 0, 10, 0.8)
    ),
    url('../img/corridor.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead h1 {
  font-size: 2rem;
}

.particles-js-canvas-el {
  top:0;
  left:0;
  position: absolute;
  z-index: 999;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
